  <!DOCTYPE html>
  <html ng-app="myApp" ng-controller="myCtrl">

  <head>
      <link rel="canonical" href="index.html">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width">
      <link rel="stylesheet" href="css/main.css">
      <script src="js/main.js" defer></script>
      <script src="js/controller.js" defer></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
      <title>Shivani Yadav</title>
      <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
  </head>

  <body>
      <main class="page_wrapper">
          <div class="js-overlay js-close-navigation js-close-menu overlay"></div>
          <div class="loading_overlay js-loading-overlay">
              <div class="loading_overlay__bubble"></div>
              <div class="loader js-loader">
                  <div class="loader__logo"><img src="img/etc/i--logo--white.svg" alt="svg spinner animation" class="loader__logo__img">
                  </div>
                  <div class="loader__item loader__item--1 js-nav-sidebar-item"></div>
                  <div class="loader__item loader__item--2 js-nav-sidebar-item"></div>
                  <div class="loader__item loader__item--3 js-nav-sidebar-item"></div>
                  <div class="loader__item loader__item--4 js-nav-sidebar-item"></div>
                  <div class="loader__item loader__item--5 js-nav-sidebar-item"></div>
                  <div class="loader__item loader__item--6 js-nav-sidebar-item"></div>
                  <div class="loader__item loader__item--7 js-nav-sidebar-item"></div>
                  <div class="loader__item loader__item--8 js-nav-sidebar-item"></div>
                  <div class="loader__item loader__item--9 js-nav-sidebar-item"></div>
                  <div class="loader__item loader__item--10 js-nav-sidebar-item"></div>
                  <div class="loader__item loader__item--11 js-nav-sidebar-item"></div>
                  <div class="loader__item loader__item--12 js-nav-sidebar-item"></div>
                  <div class="loader__item loader__item--22 js-nav-sidebar-item"></div>
                  <div class="loader__item loader__item--23 js-nav-sidebar-item"></div>
                  <div class="loader__item loader__item--24 js-nav-sidebar-item"></div>
                  <div class="loader__item loader__item--25 js-nav-sidebar-item"></div>
                  <div class="loader__item loader__item--26 js-nav-sidebar-item"></div>
                  <div class="loader__item loader__item--27 js-nav-sidebar-item"></div>
                  <div class="loader__item loader__item--28 js-nav-sidebar-item"></div>
                  <div class="loader__item loader__item--29 js-nav-sidebar-item"></div>
                  <div class="loader__item loader__item--210 js-nav-sidebar-item"></div>
                  <div class="loader__item loader__item--211 js-nav-sidebar-item"></div>
              </div>
          </div>
          <div id="skrollr-body"></div>
          <!--#chatra-wrapper-->
          <!--.state-initial-position-->
          <div class="intro js-intro-section state-transition">
              <!-- <a href="index.html" title="Home" target="_blank" class="intro__logo_box intro_appears_last"><img src="img/etc/logo--phoenix-work--white.svg" alt="Phoenix Startup testimonials" class="intro__logo"> -->
              </a>
              <!-- <a href="https://gumroad.com/l/phoenix-startup-ui-kit-pro" title="Get Phoenix now!" target="_blank" data-ga-category="External link" data-ga-label="Purchase" data-popup-target="buy_01" class="intro__button intro_appears_last js-ga-click js-ga-hover">Purchase</a> -->
              <div style="background-image: url(img/{{rand_1}}.jpg)" class="intro__card intro__card--01 shadow_card">
                  <a href="http://bit.ly/2ae7r0O" target="_blank" class="intro_card__ribbon">
                    <!-- <img src="img/etc/coreshok.svg" alt="behance landing page presentation" class="intro_card__ribbon_img intro_card__ribbon_img--01"> -->
                    <!-- <img src="img/etc/ribbon.svg" alt="phoenix startup ui kit in behance" class="intro_card__ribbon_img intro_card__ribbon_img--02"> -->
                  </a><img src="img/bg/bg--waves.jpg" alt="Phoenix Bootstrap UI kit background" class="intro__card__img">
                  <div class="intro__card__text_box">
                    <!-- <img src="img/etc/i--logo--white.svg" alt="landing page for bootstrap" class="intro__for_word"> -->
                      <h1 class="intro__title">Shivani Yadav</h1><span class="intro__info">We wish you a very happy birthday<br>May god bless you</span>
                      <!--br-->
                      <!--h2.intro__subtitle| Startups-->
                  </div>
              </div>
              <div id="js-intro-scene" class="intro_scene">
                  <div data-depth="0.50" class="intro__card intro__card--02 js-intro-card layer"><img ng-src="img/30.jpg" alt="Phoenix Bootstrap UI kit example" class="js-intro-image intro__card__img">
                  </div>
                  <div data-depth="1.20" class="intro__card intro__card--03 js-intro-card layer"><img src="img/18.jpg" alt="free Bootstrap 4 UIkit SVG word" class="js-intro-image shadow_card intro__card__img">
                  </div>
                  <div data-depth="0.20" class="intro__card intro__card--04 js-intro-card layer"><img src="img/13.jpg" alt="Phoenix twitter Bootstrap template theme" class="js-intro-image shadow_card intro__card__img">
                  </div>
                  <div data-depth="0.90" class="intro__card intro__card--05 js-intro-card layer"><img src="img/21.jpg" alt="Phoenix UI kit for developers" class="js-intro-image intro__card__img">
                  </div>
                  <div data-depth="0.30" class="intro__card intro__card--06 js-intro-card layer"><img src="img/16.jpg" alt="flat ui kit" class="js-intro-image shadow_card intro__card__img">
                  </div>
              </div>
              <button type="button" class="intro__scroll_box js-scroll-fullscreen intro_appears_last">
                  <!--span.intro__scroll_text| SCROLL DOWN-->
              </button>
          </div>
          <div class="jumbotron jumbotron--black js-jumbotron">
              <h2 class="jumbotron__title jumbotron__title--white js-content appearing-content">February 21</h2><span class="jumbotron__description jumbotron__description--white jumbotron__description--01 js-content appearing-content">
                Girl with an Ecstatic Auro 😁 <br>
  People say that the best feeling for a person who comes all tired and exhausted from work is when <br>
  he or she enters home and find a warm and happy welcome by someone close to the heart.<br>
   Well, that warm feeling is what defines our little sweetheart,<b> Shivani</b>.<br>
    Her ecstatic auro when she meets her beloved is just the most beautiful thing about her. <br>

  A heart which is so big to fill in all the love possible in the world makes every other heart so small. <br>
   She is our chirpy little bird who is always flighing high in the air of happiness. Be it the cranky bad <br>
    mood swings side of her or this always hyperactive side of love, she is always looking so cute in both the side of coins. <br>

  She is just the perfect door of hope for her friends who are all messed up thinking how badly the world and  <br>
  it's people suck. Oh please let me tell you, if you are like in the midst of thinking that there is no  <br>
  friend of yours to stick around with you at the bad times, well, she is the silver lining of that dark cloud of thought. <br>

  So, just keep calm and sing praises for this little baby because it's her 26th today.  😍</span>
              <br>
              <!-- <img src="img/etc/sketch_logo.png" alt="google soft material UI kit" class="jumbotron__logo js-content appearing-content appearing-content--delay-prebig"><img src="img/etc/Photoshop_CC_icon.png" alt="bootstrap based template" class="jumbotron__logo jumbotron__logo--mid js-content appearing-content appearing-content--delay-small"><img src="img/etc/html5_logo.png" alt="sketch and photoshop bootstrap uikit" class="jumbotron__logo js-content appearing-content appearing-content--delay-mid"> -->
          </div>
          <!-- <div  class="numbers">
              <div class="numbers__item"><span class="numbers__value js-content appearing-content">21</span><span class="numbers__title js-content appearing-content appearing-content--delay-mid">Birthday</span>
              </div>
              <div  class="numbers__item"><span ng-model="abcd" class="numbers__value js-content appearing-content">{{abc}}</span><span class="numbers__title js-content appearing-content appearing-content--delay-mid">seconds since born</span>
              </div>
              <div class="numbers__item"><span class="numbers__value js-content appearing-content">1 M</span><span class="numbers__title js-content appearing-content appearing-content--delay-mid">smiles</span>
              </div>
              <div data-appear-top-offset="-500" class="numbers__cards_box js-numbers-cards-box">
                  <div class="numbers__card numbers__card--01 js-numbers-card"><img src="img/cards/iphones.png" alt="iphone mockup free" class="numbers__card_img">
                  </div>
                  <div class="numbers__card numbers__card--02 js-numbers-card"><img src="img/cards/mountain.png" alt="free ipad mockup" class="numbers__card_img">
                  </div>
                  <div class="numbers__card numbers__card--03 js-numbers-card"><img src="img/cards/track.png" alt="free bootstrap 4 uikit" class="numbers__card_img">
                  </div>
                  <div class="numbers__card numbers__card--04"><img src="img/cards/iPad-snow.png" alt="html5 css3 ui kit" class="numbers__card_img">
                  </div>
                  <div class="numbers__card numbers__card--05 js-numbers-card"><img src="img/cards/macbook.png" alt="download bootstrap 3 uikit" class="numbers__card_img">
                  </div>
                  <div class="numbers__card numbers__card--06 js-numbers-card"><img src="img/cards/space.png" alt="1170px grid uikit" class="numbers__card_img">
                  </div>
                  <div class="numbers__card numbers__card--07"><img src="img/cards/golden_mac_acne.png" alt="sass scss uikit" class="numbers__card_img">
                  </div>
              </div>
          </div> -->
          <div class="categories">
              <div class="categories__title_box">
                  <h2 class="categories__title js-content appearing-content">Journey to 26 years</h2>
                  <ul class="categories__list js-content appearing-content appearing-content--delay-mid">
                      <li class="categories__list_item">Shivani</li>
                      <li class="categories__list_item">Crazy</li>
                      <li class="categories__list_item">Hyperactive</li>
                      <li class="categories__list_item">Little Baby</li>
                      <li class="categories__list_item">Golden Heart</li>
                      <li class="categories__list_item">Chirpy </li>
                      <li class="categories__list_item">Energetic  </li>
                      <li class="categories__list_item">Smart  </li>
                      <li class="categories__list_item">Loud</li>
                      <br>
                      <li class="categories__list_item">Understanding</li>
                      <li class="categories__list_item">Emotional</li>
                      <li class="categories__list_item">Adborable</li>
                      <li class="categories__list_item">Oye sibbu</li>
                      <li class="categories__list_item">Bubbly</li>
                      <li class="categories__list_item">Dependable</li>
                  </ul>
              </div>
              <div class="categories__row categories__row--01 js-categories-scene">
                  <div data-bottom-top="transform: translateZ(0) translateY(-15%);" data-top-bottom="transform: translateZ(0) translateY(0%);" class="categories__card categories__card--01"><img src="img/2.jpg" alt="bootstrap jade ui kit" class="categories__img js-categories-img">
                  </div>
                  <div data-bottom-top="transform: translateZ(0) translateY(-10%);" data-top-bottom="transform: translateZ(0) translateY(30%);" class="categories__card categories__card--02"><img src="img/1.jpg" alt="free uikit photoshop" class="categories__img js-categories-img">
                  </div>
                  <div data-bottom-top="transform: translateZ(0) translateY(-2%);" data-top-bottom="transform: translateZ(0) translateY(14%);" class="categories__card categories__card--03"><img src="img/5.jpg" alt="gulp postcss uikit" class="categories__img js-categories-img">
                  </div>
                  <div data-bottom-top="transform: translateZ(0) translateY(-5%);" data-top-bottom="transform: translateZ(0) translateY(1%);" class="categories__card categories__card--04"><img src="img/4.jpg" alt="material ui kit" class="categories__img js-categories-img">
                  </div>
                  <!--include ../img/etc/covers_shape.svg-->
                  <div data-bottom-top="transform: translateZ(0) translateY(-10%);" data--50p-top-bottom="transform: translateZ(0) translateY(20%);" class="categories__shape_box">
                      <svg id="SvgjsSvg1008" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="" height="">
                          <defs id="SvgjsDefs1009">
                              <clipPath id="SvgjsClipPath1012">
                                  <path id="SvgjsPath1011" d="M2004.99 3638.04L1707.06 3481.99L1426.01 3641.35L1426.24 3934Z " fill="#ffffff"></path>
                              </clipPath>
                          </defs>
                          <path data-anchor-target=".categories__row--01" class="categories__svg_path categories__svg_path--covers" id="SvgjsPath1010" d="M2004.99 3638.04L1707.06 3481.99L1426.01 3641.35L1426.24 3934Z " fill-opacity="0" fill="#ffffff" stroke-dasharray="0" stroke-linejoin="miter" stroke-linecap="butt" stroke-opacity="1" stroke="#ffffff" stroke-miterlimit="50" stroke-width="4" clip-path="url(&quot;#SvgjsClipPath1012&quot;)" transform="matrix(1,0,0,1,-1426,-3482)"></path>
                      </svg>
                  </div>
                  <div class="categories__text_box">
                      <h2 class="categories__item_title">Happy</h2><span class="categories__text"></span>
                  </div>
              </div>
              <div class="categories__row categories__row--02 js-categories-scene">
                  <div data-bottom-top="transform: translateZ(0) translateY(-15%);" data--50p-top-bottom="transform: translateZ(0) translateY(10%);" class="categories__card categories__card--05"><img src="img/37.jpg" alt="bootstrap twitter" class="categories__img js-categories-img">
                  </div>
                  <div data-bottom-top="transform: translateZ(0) translateY(-0%);" data--50p-top-bottom="transform: translateZ(0) translateY(5%);" class="categories__card categories__card--06"><img src="img/36.jpg" alt="modern bootstrap 4 uikit" class="categories__img js-categories-img">
                  </div>
                  <div data-bottom-top="transform: translateZ(0) translateY(-10%);" data--50p-top-bottom="transform: translateZ(0) translateY(33%);" class="categories__card categories__card--07"><img src="img/18.jpg" alt="fresh bootstrap 3" class="categories__img js-categories-img">
                  </div>
                  <div data-bottom-top="transform: translateZ(0) translateY(-5%);" data--50p-top-bottom="transform: translateZ(0) translateY(20%);" class="categories__card categories__card--08"><img src="img/27.jpg" alt="bootstrap 3 stylus" class="categories__img js-categories-img">
                  </div>
                  <div data-bottom-top="transform: translateZ(0) translateY(-10%);" data--50p-top-bottom="transform:  translateZ(0)translateY(20%);" class="categories__shape_box">
                      <svg id="SvgjsSvg1013" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="553" height="456">
                          <defs id="SvgjsDefs1014">
                              <clipPath id="SvgjsClipPath1017">
                                  <path id="SvgjsPath1016" d="M-125.144 4597.63L102.05699999999999 4648.51L201.803 4816.820000000001L427.421 4360.89Z " fill="#ffffff"></path>
                              </clipPath>
                          </defs>
                          <path id="SvgjsPath1015" d="M-125.144 4597.63L102.05699999999999 4648.51L201.803 4816.820000000001L427.421 4360.89Z " fill-opacity="0" fill="#ffffff" stroke-dasharray="0" stroke-linejoin="miter" stroke-linecap="butt" stroke-opacity="1" stroke="#ffffff" stroke-miterlimit="50" stroke-width="4" clip-path="url(&quot;#SvgjsClipPath1017&quot;)" transform="matrix(1,0,0,1,125,-4361)"></path>
                      </svg>
                  </div>
                  <div class="categories__text_box">
                      <h2 class="categories__item_title">Beautiful</h2><span class="categories__text"></span>
                  </div>
              </div>
              <div class="categories__row categories__row--03 js-categories-scene">
                  <div data-bottom-top="transform: translateZ(0) translateY(-20%);" data--50p-top-bottom="transform: translateZ(0) translateY(33%);" class="categories__card categories__card--09"><img src="img/21.jpg" alt="bootstrap 3 ui kit" class="categories__img js-categories-img">
                  </div>
                  <div data-bottom-top="transform: translateZ(0) translateY(-14%);" data--50p-top-bottom="transform: translateZ(0) translateY(25%);" class="categories__card categories__card--10"><img src="img/22.jpg" alt="bootstrap 4 uikit for startup" class="categories__img js-categories-img">
                  </div>
                  <div data-bottom-top="transform: translateZ(0) translateY(-22%);" data--50p-top-bottom="transform: translateZ(0) translateY(14%);" class="categories__card categories__card--11"><img src="img/8.jpg" alt="behance top portfolio ui kit" class="categories__img js-categories-img">
                  </div>
                  <div data-bottom-top="transform: translateZ(0) translateY(-12%);" data--50p-top-bottom="transform: translateZ(0) translateY(60%);" class="categories__card categories__card--12"><img src="img/6.jpg" alt="ui kit for perfect design" class="categories__img js-categories-img">
                  </div>
                  <div data-bottom-top="transform: translateZ(0) translateY(-10%);" data--50p-top-bottom="transform:  translateZ(0)translateY(20%);" class="categories__shape_box">
                      <svg id="SvgjsSvg1018" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="710" height="572">
                          <defs id="SvgjsDefs1019"></defs>
                          <path id="SvgjsPath1020" d="M1611.8 5326.06L1611.32 5325.860000000001L1351.8799999999999 5487.130000000001L1351.1299999999999 5487.600000000001L1501.5099999999998 5820.410000000002L1501.6999999999998 5820.830000000002L1799.8799999999999 5898.140000000002L2060.2599999999998 5510.510000000002L2060.87 5509.510000000002ZM1798.95 5895.83L1503.1200000000001 5819.13L1353.69 5488.360000000001L1611.5 5328.1L2057.95 5510.450000000001Z " fill="#ffffff" transform="matrix(1,0,0,1,-1351,-5326)"></path>
                      </svg>
                  </div>
                  <div class="categories__text_box">
                      <h2 class="categories__item_title">Wanderer</h2><span class="categories__text"></span>
                  </div>
              </div>

              <br>
              <!--.categories__button_boxa.categories__button.button.js-content.appearing-content.js-ga-click(href="https://gumroad.com/l/phoenix-startup-ui-kit-pro", title="Purchase", target="_blank", data-ga-category="External link", data-ga-label="Purchase Categories")
  	| buy now
  -->
          </div>
        

          <div data-ga-category="Main Page" data-ga-label="Samples" data-send-info="" class="samples js-ga-scroll-to">
              <h2 class="samples__title js-content appearing-content">A Glimpse</h2>
              <div class="samples__box">
                  <div class="samples__col samples__col--left">
                    <div  ng-repeat="data in a track by $index">
                      <div class="samples__item js-samples-item"><img ng-src="img/{{data}}.jpg" alt="free ui kit html5" class="samples__img">
                      </div>
                    </div>
                  </div>
                  <div class="samples__col samples__col--center">
                    <div  ng-repeat="data in b track by $index">
                      <div class="samples__item js-samples-item"><img ng-src="img/{{data}}.jpg" alt="free ui kit html5" class="samples__img">
                      </div>
                    </div>
                  </div>
                  <div class="samples__col samples__col--right">
                    <div  ng-repeat="data in c track by $index">
                      <div class="samples__item js-samples-item"><img ng-src="img/{{data}}.jpg" alt="free ui kit html5" class="samples__img">
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          <!--.techs.js-footer-price.techs__item
  	button.tech__info_btn(type="button")
  		| i
  		.tech__info_box
  			span.tech__info_description
  				| These powerful tools will help you in creation even better projects.
  	span.tech__info_text
  		| Even better with:
  .techs__item
  	img.techs__img(src="img/etc/logo--angular.svg", alt="AngularJS SVG logo download high resolution")
  .techs__item
  	img.techs__img(src="img/etc/invision-logo-pink.png", alt="Invision SVG logo download high resolution")
  .techs__item
  	img.techs__img(src="img/etc/Marvel_logo.svg", alt="Marvel App SVG logo download high resolution")
  .techs__item
  	img.techs__img(src="img/etc/Webflow-logo-raster-blue-2015.png", alt="Webflow SVG logo download high resolution")
  .techs__item
  	img.techs__img(src="img/etc/Wordpress.svg", alt="Wordpress SVG logo download high resolution")-->
          <!-- <div class="testimonials jumbotron">
              <h2 class="testimonials__title jumbotron__title jumbotron__title--white js-content appearing-content">What people say</h2>
              <div class="testimonials__box">
                  <div class="testimonials__item js-content appearing-content appearing-content--delay-small">
                      <div class="testimonials__icon_box"><img src="img/etc/venok.svg" alt="phoenix startup" class="testimonials__icon_box__img">
                      </div>
                      <div class="testimonials__text_box"><span class="testimonials__text">This UI Kit is really a UI guide.<br>This will create a need that UI<br>means both design and front<br>end code. Great work. We will<br>need more of this kind. :)</span>
                      </div><span class="testimonials__name">yadav prasanth</span><span class="testimonials__regals">UI designer at pstakecare.com</span>
                  </div>
                  <div class="testimonials__item js-content appearing-content appearing-content--delay-mid">
                      <div class="testimonials__icon_box"><img src="img/etc/venok.svg" alt="phoenix startup" class="testimonials__icon_box__img">
                      </div>
                      <div class="testimonials__text_box"><span class="testimonials__text">This looks interesting and<br>really beautiful designs. Will<br>have that in mind for our<br>projects. Cheers, Lukasz</span>
                      </div><span class="testimonials__name">Lukasz Konofalski</span><span class="testimonials__regals">Founder of PostepicApp</span>
                  </div>
                  <div class="testimonials__item js-content appearing-content appearing-content--delay-prebig">
                      <div class="testimonials__icon_box"><img src="img/etc/venok.svg" alt="phoenix startup" class="testimonials__icon_box__img">
                      </div>
                      <div class="testimonials__text_box"><span class="testimonials__text">You've done an incredible job<br>with it! I'm seriously impressed<br>at the designs. Kudos to you and<br>your team. Thanks for creating<br>something awesome and sharing<br>it with the community!</span>
                      </div><span class="testimonials__name">Lee Peterson</span><span class="testimonials__regals">Founder of RustyDogDesign / Web-designer</span>
                  </div>
              </div>
          </div> -->
          <!-- <div data-ga-category="Main Page" data-ga-label="Purchase" data-send-info="" class="purchase js-ga-scroll-to">
              <div class="purchase__floating_price_box"><span data-center-top="transform: translateY(-20%);" data-end="transform: translateY(0%);" class="purchase__floating_price_box__item js-price-item purchase__floating_price_box__item--1 purchase__floating_price_box__item--dollar">$</span><span data-center-top="transform: translateY(-13%);" data-end="transform: translateY(0%);" class="purchase__floating_price_box__item js-price-item purchase__floating_price_box__item--2">8</span><span data-center-top="transform: translateY(-17%);" data-end="transform: translateY(0%);" class="purchase__floating_price_box__item js-price-item purchase__floating_price_box__item--3">9</span>
              </div>
              <div class="purchase__btn_box"><a href="https://gumroad.com/l/phoenix-startup-ui-kit-pro" target="_blank" data-ga-category="External link" data-ga-label="Formats" title="Learn More" data-popup-target="buy_01" class="purchase__techs js-ga-click">Sketch / Psd / Html5 / Css3 / saSs / svg</a>
                  <br><a href="https://gumroad.com/l/phoenix-startup-ui-kit-pro" target="_blank" data-ga-category="External link" data-ga-label="Buy Now" data-popup-target="buy_01" class="purchase__btn js-ga-click">buy now</a>
                  <br>
              </div>
          </div> -->
          <!-- <div class="social"><span class="social__title">Share</span>
              <div data-services="facebook,twitter,pinterest,gplus" data-image="http://phoenix-startup.com/phoenix_startup_ui_kit.jpg" data-counter="" data-lang="en" class="ya-share2 js-share-list"></div>
          </div> -->
          <footer class="footer">
              <span class="footer__legals">Made with <span style="color:red">❤</span> from friends</span>
          </footer>
      </main>
      <!-- == START OF POPUP ==-->
      <!--.popup.popup--ask.js-popup(data-popup-name="ask_01", style="background-image: url(img/bg/bg--cos.jpg)")button.popup__close_btn.js-close-all-popups(title="Close")
  h2.popup__title.js-popup__title--initial
  	| Ask a Question
  h2.popup__title.popup__title--hidden.js-popup__title--success
  	| Success!
  form.call_to_action__form.call_to_action__form--06.js-saving-form(action="http://ui-market.com/phoenix-startup/send_mail.php", method="POST")
  	.call_to_action__input_box--06
  		input.input.input--light.call_to_action__input--06(type="text", placeholder="Your name", required, name="name")
  		input.input.input--light.call_to_action__input--06(type="email", placeholder="Email", required, name="email")
  	textarea(placeholder="Message", name="message").input.input--light.popup__textarea
  	button.button.button--white.call_to_action__button--06(type="submit")
  		| send-->


  </body>

  </html>
